body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #171717;
    font-family: $font;
    color: white;

h2{
    font-size: 0.5 rem;
}

/* INTRODUCTION */
.introduction{
    color :white;
    width: 200px;
    font-size: 2rem;
    line-height : 1.5;
}
.container1{
    display:flex;
    font-size: 1.5rem;
    width: 125rem;
    margin: auto;
    border:greenyellow 1px solid;
    .colonneintro{
        flex-direction: row;
        margin: 5rem;
        .titreintro{
            font-size: 1.75rem;
        }
    }
}
.liste{
    list-style-type: none;
    line-height : 1.75;
    color : #777777;
    padding: 0;
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li::before{
        padding-right: 8px;
        content: "+";
        color : #FFC33B;
    }
}
/* TEXTE DEROULANT */
#textederoulant{
    font-size: 10rem;
    .plus{
        color:#FFC33B;
    }
    .slash{
        color:#777777;
    }
}
.orangecolor{
    color:#FFC33B;
}
#vousavezunprojet{
    font-size: 7rem;
}
.container2{
    display:flex;
    margin: auto;
    width: 125rem;
    .cases{
        flex-direction: row;
        border: #212121 solid 1px;
        width: 20rem;
        height: 30rem;
        background-color: #212121;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    #casevide{
        flex-direction: row;
        border: #4B4B4B solid 1px;
        width: 20rem;
        height: 30rem;
    }
}
.partie2{
    border:greenyellow 1px solid;
    width : 125rem;
    margin: auto;
}
}