.entreprises-topdiv {
    flex-direction: column;
    align-items: center;
}

.entreprises-search {
    border-radius: 5000px;
    padding: 2rem 0;
    width: 100%;
}

input, button {
    border: none;
}

input, select, textarea {
    color: white;
}

.entreprises-topdiv, 
.entreprises-title, 
.entreprises-catégories,
.entreprises-titleleft,
.entreprises-souscatégories,
.entreprises-search,
.entreprises-secteurdiv {
    display: flex;
}

.entreprises-searchbar,
.entreprises-searchbutton,
.entreprises-search {
    background-color: #212121;
}

.entreprises-search {
    justify-content: space-around;
    margin-top: 4rem;
}

.entreprises-list {
    padding: 4rem 0;
}

.entreprises-nom,
.entreprises-contact a,
.entreprises-souscatégorie,
.entreprises-searchbar {
    font-weight: 300;
}

.entreprises-searchbar {
    font-size: 1.5rem;
    min-width: 50%;
}

.entreprises-nom {
    margin: 0;
    margin-right: 2rem;
    align-self: center;
    padding: 0;
    font-size: 2.4rem;
}

.entreprises-title,
.entreprises-secteurdiv {
    border-bottom: 1px solid $bordercolor;
}

.entreprises-secteur {
    font-size: 4rem;
}

.entreprises-secteur,
.entreprises-searchbutton {
    color: #fff;
}

.entreprises-searchbutton {
    font-size: 1.8rem;
}

.entreprises-title {
    width: 100%;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.entreprises-catégories {
    gap: 2rem;
}


.entreprises-accordeonbutton,
.entreprises-topdivbutton {
    background-color: transparent;
    background-repeat: no-repeat;
    height: auto;
    margin-left: auto;

}

.entreprises-accordeonbutton {
    transform: rotate(180deg);
    filter: none;
    transition: all 0.25s;
}

.entreprises-accordeonbuttonreset {
    filter: grayscale(1);
    transform: rotate(0deg);
    transition: all 0.25s;
}

.entreprises-catégorie {
    padding: 0.8rem 3rem;
    align-self: center;
    border-radius: 5000px;
    border: 1px solid $bordercolor;
}

.entreprises-image,
.entreprises-secteurdiv {
    width: 100%;
}

.entreprises-contact {
    padding: 0;
}

.entreprises-info{
    display: flex;
    max-width: 300px;
    flex-direction: column;
}

.entreprises-info *{
    margin-bottom: 2rem;
}

.entreprises-titleleft{
    flex-wrap: wrap;
    max-width: 75%;
}


.entreprises-website,
.entreprises-topdivbutton {
    color: $yellow;
}

.entreprises-souscatégorie {
    color: $bordercolor;

    &:after {
        margin: .5rem;
        content: "-";
    }
}

.entreprises-souscatégorie,
.entreprises-catégorie {
    font-size: 1.1rem;
}

.entreprises-info *,
.entreprises-contact a {
    font-size: 1.5rem;
}

.displayNone,
.entreprises-souscatégories p:nth-last-child(1)::after {
    display: none;
}

@media only screen and (min-width:768px){

main {
    max-width: 80%;
    margin: auto;
}

.entreprises-secteur {
    font-size: 5rem;
}

.entreprises-info {
    flex-direction: row;
}

}