.espaces-white {
    background-color: #fff;
    
    * {
        color: black;
    }

    h1 {
        font-size: 9rem;
    }

    .espaces-titre {
        width: 40%;
        margin: auto;
        margin-top: 0;
        text-align: center;
    }

    img {
        width: 100%;
    }
}

.espaces-introduction {
    max-width: 80%;
    display: flex;
    margin: auto;

    .espaces-introductiongauche {
        width: 50%;
    }
}

.espaces-titre2 {
    margin: 0;
    width: 100%;
}