.espaces {
    
    h1 {
        font-size: 9rem;
    }
}

.espaces-white {
    background-color: #fff;
    position: relative;
    overflow-y: hidden;
    * {
        color: black;
    }

    .espaces-titre {
        width: 40%;
        margin: auto;
        margin-top: 0;
        text-align: center;
        padding-top: 13rem;
    }

    img {
        width: 100%;
        margin: 20rem 0;
    }

    &::after {
        position: absolute;
        content: '01';
        font-size: 100rem;
        font-weight: 300;
        color: $bordercolor;
        opacity: 5%;
        bottom: -55.5rem;
        left: 85rem;
    }
}

.espaces-introduction {
    max-width: 80%;
    display: flex;
    margin: auto;
    padding-bottom: 20rem;
    position: relative;

    .espaces-introductiongauche {
        width: fit-content;
        margin-right: 14rem;
    }
}

.espaces-titre2 {
    margin: 0;
    width: 57rem;
}

.espaces-soustitre {
    font-size: 2.4rem;
}

.espaces-texte {
    width: 45rem;
    margin-bottom: 5rem;
    
     p {
         font-size: 2rem;
         line-height: 3.8rem;
    }
}

.espaces-boutonlien {
    font-size: 1.8rem;
    padding: 1rem 3rem;
    border: 1px solid black;
    border-radius: 5000px;
}

.espaces-black {
    position: relative;

    &::after {
        position: absolute;
        content: '02';
        font-size: 100rem;
        font-weight: 300;
        color: #fff;
        opacity: 5%;
        bottom: 80rem;
        left: 85rem;
        z-index: 1;
    }
}

.espaces-main {
    margin: auto;
    margin-top: 43rem;
    position: relative;
    max-width: 80%;

    img {
        position: relative;
        z-index: 2;
    }
}

.espaces-mainintro {
    display: flex;
}

.espaces-titre3 {
    width: 57rem;
    margin: 0;
    margin-right: 14rem;
}

.espaces-mainintrotext {
    font-size: 2rem;
    width: 45rem;
    line-height: 38px;
}