@font-face {
  font-family: "II Vorkurs";
  src: url("fonts/IIVorkursLight.woff2") format("woff2"), url("fonts/IIVorkursLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "II Vorkurs";
  src: url("fonts/IIVorkursMedium.woff2") format("woff2"), url("fonts/IIVorkursMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "II Vorkurs";
  src: url("fonts/IIVorkursBold.woff2") format("woff2"), url("fonts/IIVorkursBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #171717;
  font-family: "II Vorkurs";
  color: white;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

h2 {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.menu-footer {
  list-style: none;
  border-top: #4b4b4b 1px solid;
  border-bottom: #4b4b4b 1px solid;
  padding: 0;
  display: grid;
  margin: 0;
}

.menu-footer li {
  padding: 0.5rem 0;
}

.menu-footer li:nth-child(3),
.menu-footer li:nth-child(4) {
  grid-column: 2/3;
  padding-left: 3rem;
  border-left: #4b4b4b 1px solid;
}

.menu-footer li:nth-child(odd) {
  padding-top: 2rem;
  grid-row: 1/2;
}

.menu-footer li:nth-child(even) {
  grid-row: 2/3;
}

.menu-footer a {
  font-size: 1.5rem;
  font-weight: normal;
}

footer {
  border-top: #4b4b4b 1px solid;
  padding-bottom: 1rem;
}

.footer-top,
.footer-right {
  padding-top: 2rem;
}

footer a, p {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 300;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-topleft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.footer-name {
  font-size: 1.5rem;
  width: 9rem;
  font-weight: 500;
  margin: 0;
}

.footer-telephonediv {
  border-radius: 5000px;
  border: #4b4b4b 1px solid;
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-notediv, .menu-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-note, .footer-notegreylink {
  color: #4b4b4b;
}

.footer-notediv p, .footer-notediv a {
  font-size: 0.9rem;
}

.footer-noteleft {
  grid-column: 1/2;
}

.footer-noteright {
  margin-left: 3rem;
  grid-column: 2/3;
}

.footer {
  max-width: 80%;
  margin: auto;
}

.footer-adress2 {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .menu-footer li:nth-child(3),
.menu-footer li:nth-child(4) {
    border: none;
    padding-left: 0;
    margin: auto;
  }

  .footer-notediv a,
.footer-notediv p {
    font-size: 1.2rem;
  }

  .menu-footer a,
.footer-name {
    font-size: 2rem;
  }

  .menu-footer li {
    padding: 2rem 0;
  }

  .menu-footer {
    padding: 3rem 0;
  }

  .footer-name {
    width: 11rem;
    line-height: 30px;
  }

  .footer-telephonediv {
    width: 20rem;
    height: 20rem;
  }

  .footer-noteright {
    margin: auto;
  }

  .footer-notediv {
    padding-top: 1rem;
  }

  .footer-notediv p {
    margin: 0.5rem 0;
  }

  .footer-right {
    padding-top: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    display: flex;
  }

  footer a,
footer p,
.footer-notediv a,
.footer-notediv p {
    font-size: 1.5rem;
  }

  .footer-top {
    min-width: 40%;
  }

  .menu-footer li {
    padding: 1rem 0 !important;
    margin: 0 !important;
  }

  .menu-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    padding-top: 0;
  }

  .footer-right {
    padding-left: 10rem;
    padding-top: 1rem;
    border-left: 1px solid #4b4b4b;
    width: 100%;
  }

  .menu-footer a,
.footer-name {
    font-size: 2rem;
  }

  .footer-notediv {
    margin-top: 5rem;
  }
}
h2 {
  font-size: 0.5 rem;
}

/* INTRODUCTION */
.introduction {
  color: white;
  width: 200px;
  font-size: 2rem;
  line-height: 1.5;
}

.container1 {
  display: flex;
  font-size: 1.5rem;
  width: 125rem;
  margin: auto;
  border: greenyellow 1px solid;
}
.container1 .colonneintro {
  flex-direction: row;
  margin: 5rem;
}
.container1 .colonneintro .titreintro {
  font-size: 1.75rem;
}

.liste {
  list-style-type: none;
  line-height: 1.75;
  color: #777777;
  padding: 0;
}
.liste ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.liste li::before {
  padding-right: 8px;
  content: "+";
  color: #FFC33B;
}

/* TEXTE DEROULANT */
#textederoulant {
  font-size: 10rem;
}
#textederoulant .plus {
  color: #FFC33B;
}
#textederoulant .slash {
  color: #777777;
}

.orangecolor {
  color: #FFC33B;
}

#vousavezunprojet {
  font-size: 7rem;
}

.container2 {
  display: flex;
  margin: auto;
  width: 125rem;
}
.container2 .cases {
  flex-direction: row;
  border: #212121 solid 1px;
  width: 20rem;
  height: 30rem;
  background-color: #212121;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.container2 #casevide {
  flex-direction: row;
  border: #4B4B4B solid 1px;
  width: 20rem;
  height: 30rem;
}

.partie2 {
  border: greenyellow 1px solid;
  width: 125rem;
  margin: auto;
}

.espaces h1 {
  font-size: 9rem;
}

.espaces-white {
  background-color: #fff;
  position: relative;
  overflow-y: hidden;
}
.espaces-white * {
  color: black;
}
.espaces-white .espaces-titre {
  width: 40%;
  margin: auto;
  margin-top: 0;
  text-align: center;
  padding-top: 13rem;
}
.espaces-white img {
  width: 100%;
  margin: 20rem 0;
}
.espaces-white::after {
  position: absolute;
  content: "01";
  font-size: 100rem;
  font-weight: 300;
  color: #4b4b4b;
  opacity: 5%;
  bottom: -55.5rem;
  left: 85rem;
}

.espaces-introduction {
  max-width: 80%;
  display: flex;
  margin: auto;
  padding-bottom: 20rem;
  position: relative;
}
.espaces-introduction .espaces-introductiongauche {
  width: fit-content;
  margin-right: 14rem;
}

.espaces-titre2 {
  margin: 0;
  width: 57rem;
}

.espaces-soustitre {
  font-size: 2.4rem;
}

.espaces-texte {
  width: 45rem;
  margin-bottom: 5rem;
}
.espaces-texte p {
  font-size: 2rem;
  line-height: 3.8rem;
}

.espaces-boutonlien {
  font-size: 1.8rem;
  padding: 1rem 3rem;
  border: 1px solid black;
  border-radius: 5000px;
}

.espaces-black {
  position: relative;
}
.espaces-black::after {
  position: absolute;
  content: "02";
  font-size: 100rem;
  font-weight: 300;
  color: #fff;
  opacity: 5%;
  bottom: 80rem;
  left: 85rem;
  z-index: 1;
}

.espaces-main {
  margin: auto;
  margin-top: 43rem;
  position: relative;
  max-width: 80%;
}
.espaces-main img {
  position: relative;
  z-index: 2;
}

.espaces-mainintro {
  display: flex;
}

.espaces-titre3 {
  width: 57rem;
  margin: 0;
  margin-right: 14rem;
}

.espaces-mainintrotext {
  font-size: 2rem;
  width: 45rem;
  line-height: 38px;
}

/*# sourceMappingURL=style.css.map */
